extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre Nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus nibh vel arcu finibus rutrum. Fusce et egestas nibh. Vivamus gravida nec mauris et dapibus. Donec vel sollicitudin risus. Duis at cursus enim. Fusce felis mauris, finibus placerat nibh eu, iaculis ultrices nisi. Mauris vitae ullamcorper leo, eget euismod ex. Mauris sit amet ornare lectus, id tincidunt erat. Sed placerat odio at libero eleifend porttitor. In eleifend dui felis.

                p Aenean sodales elementum vestibulum. Donec sodales enim felis, vitae egestas urna gravida sit amet. Sed mattis massa et dui ultricies dictum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean congue placerat elit id mollis. Fusce blandit ipsum interdum, fermentum lacus non, lobortis lacus. Mauris egestas enim mi, ut vehicula ante semper quis.
                
                p Suspendisse et dui lobortis, placerat quam ut, pharetra turpis. Maecenas cursus eleifend accumsan. Maecenas auctor a ipsum eget tempor. Cras egestas, dui quis pulvinar bibendum, velit nisi maximus nisl, eu rhoncus lorem nisi non erat.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad")
                    h2.mb-4 Seguridad
                    p Suspendisse et dui lobortis, placerat quam ut, pharetra turpis. Maecenas cursus eleifend accumsan. Maecenas auctor a ipsum eget tempor.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destino")
                    h2.mb-4 Mejores Destinos
                    p Suspendisse et dui lobortis, placerat quam ut, pharetra turpis. Maecenas cursus eleifend accumsan. Maecenas auctor a ipsum eget tempor.

                .col-md-4
                    img(src="img/icono_precio.svg", alt="icono de precio")
                    h2.mb-4 Los Mejores Precios
                    p Suspendisse et dui lobortis, placerat quam ut, pharetra turpis. Maecenas cursus eleifend accumsan. Maecenas auctor a ipsum eget tempor.
